#header {
  margin: 0;
  padding: 20px 0 20px 0;
}

#title {
  font-family: 'Lato', sans-serif;
}

#sidebar {
  padding: 15px;
}

#searchTitle {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#cityButtons {
  width: 100%;
}

#cityButtons button {
  padding: 10px;
}

#cityConditions {
  height: 300px;
  margin: 15px 0 15px 0;
  padding: 20px;
}

#fiveDayTitle {
  font-family: 'Lato', sans-serif;
}

.days {
  width: 165px;
  padding: 10px;
}

#uvNumber {
  padding: 5px;
}